@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--radius: 0.5rem;
	}
}

@theme {
	--text-tiny: 0.625rem;
	--text-tiny--line-height: 1.5rem;
	--text-tiny--letter-spacing: 0.125rem;
	--text-tiny--font-weight: 500;
}

@font-face {
	font-family: "Spritendo";
	src:
		url("/assets/fonts/RoSpritendoSemiboldBeta.woff2") format("woff2"),
		url("/assets/fonts/RoSpritendoSemiboldBeta.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "TypelightSans";
	src:
		url("/assets/fonts/TypelightSans.woff2") format("woff2"),
		url("/assets/fonts/TypelightSans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Shift-80Kn";
	src:
		url("/assets/fonts/Shift-8OKn.woff2") format("woff2"),
		url("/assets/fonts/Shift-8OKn.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Rastamanoblique";
	src:
		url("/assets/fonts/Rastamanoblique-xner.woff2") format("woff2"),
		url("/assets/fonts/Rastamanoblique-xner.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.App canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1; /* If using as background */
}
